<div class="container hero__container">
  <h1 class="logo hero__logo"><span>MIMIHO</span></h1>
  <h2 class="hero__subtitel">Ресторанно-готельний комплекс</h2>
  <p class="hero__slogan">Смак життя 24/7</p>
  <address class="address hero__address">
    <a class="address__link" href="https://goo.gl/maps/Pnjo7kjwatkfAMe19" target="_blank"
      rel="noopener noreferrer nofollow">
      Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
  </address>
  <button type="button">Забронювати столик</button>
  <button type="button">Забронювати номер</button>
</div>