<a href="../src/index.html" class="logo footer__logo">MIMINO</a>
<ul class="footer__list">
  <li class="footer__item">
    <a class="footer__link" href="../src/index.html">Main page</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="../src/restaurant.html">Restaurant</a>
  </li>
  <li class="footer__item">
    <a class="footer__link" href="../src/hotel.html">Hotel</a>
  </li>
</ul>
<button class="btn room__btn" type="button">Make reservation</button>
<button class="btn modal__btn" type="button">Make reservation</button>