<h1 class="logo hero__logo"><span>MIMINO</span></h1>
<h2 class="hero__subtitel">Restaurant</h2>
<p class="hero__slogan">Taste of life 24/7</p>
<div class="hero__wrap">
  <address class="address">
    <a class="address__link" href="https://goo.gl/maps/Pnjo7kjwatkfAMe19" target="_blank"
      rel="noopener noreferrer nofollow">
      <svg class="address__icon" width="24" height="24">
        <use href="./images/sprite.svg#map"></use>
      </svg>
      <span class="address__value">Ukraine, Poltava,
        <br>St. Marshal Biryuzov, 15
      </span></a>
  </address>
  <!-- Open modal window Book Table -->
  <button class="button button--gray hero__button" type="button" data-table>Book Table</button>
  <!-- Link to Restaurant Page / Menu -->
  <a class="button button--gray hero__button" href="./restaurant.html">Restaurant Menu</a>
</div>