<nav class="nav container">
  <a href="../src/index.html" class="logo header__logo">MIMIHO</a>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="../src/restaurant.html">Ресторан</a>
      <a class="nav__tel" href="tel:+380955559533">095 555 95 33</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="../src/hotel.html">Готель</a>
      <a class="nav__tel" href="tel:+380668491089">066 849 10 89</a>
      <a class="nav__tel" href="tel:+380672758540">067 275 85 40</a>
    </li>
  </ul>
</nav>