.header {
  position: relative;

  &__wrap {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;

    // @media screen and (min-width: 414px) {
    //   max-width: 384px;
    // }

    @media screen and (min-width: 1024px) {
      max-width: 930px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1110px;
    }

    position: absolute;
    top: 16px;
    left: 15px;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
      top: 24px;
      left: 47px;
    }
    @media screen and (min-width: 1280px) {
      left: 85px;
    }

    z-index: 12;
  }

  &__social {
    margin-left: 60px;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }
}

.mob-hidden {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
