.hero {
  &__container {
    position: relative;

    padding-top: 181px;
    padding-bottom: 20px;
    &--double,
    &--doublelux,
    &--triple {
      padding-top: 493px;
    }

    @media screen and (min-width: 1024px) {
      padding-top: 188px;
      padding-bottom: 15px;
      &--double,
      &--doublelux,
      &--triple {
        padding-top: 435px;
      }
    }

    @media screen and (min-width: 1280px) {
      padding-top: 164px;
      padding-bottom: 64px;
      &--double,
      &--doublelux,
      &--triple {
        padding-top: 435px;
      }
    }
    background-color: #474747;

    // Background stiles
    &--main {
      background-size: cover;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-main-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-main-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-main-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-main-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-main-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-main-desk-2x.jpg);
        }
      }
    }

    &--restaurant {
      background-size: cover;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-rest-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-rest-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-rest-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-rest-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-rest-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-rest-desk-2x.jpg);
        }
      }
    }

    &--hotel {
      background-size: cover;
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-hotel-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-hotel-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-hotel-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-hotel-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero-hotel-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.65),
              rgba(0, 0, 0, 0.65)
            ),
            url(../images/hero-hotel-desk-2x.jpg);
        }
      }
    }

    &--double {
      background-size: cover;
      background-image: linear-gradient(
          to bottom,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 10%,
          rgba(0, 0, 0, 0) 20%
        ),
        url(../images/hero-lux-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-lux-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-desk-2x.jpg);
        }
      }
    }

    &--doublelux {
      background-size: cover;
      background-image: linear-gradient(
          to bottom,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 10%,
          rgba(0, 0, 0, 0) 20%
        ),
        url(../images/hero-lux-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-lux-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-desk-2x.jpg);
        }
      }
    }

    &--triple {
      background-size: cover;
      background-image: linear-gradient(
          to bottom,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 10%,
          rgba(0, 0, 0, 0) 20%
        ),
        url(../images/hero-lux-mob-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/hero-lux-mob-2x.jpg);
      }
      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-tab-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-tab-2x.jpg);
        }
      }
      @media screen and (min-width: 1280px) {
        background-image: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 7%,
            rgba(0, 0, 0, 0) 14%
          ),
          url(../images/hero-lux-desk-1x.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/hero-lux-desk-2x.jpg);
        }
      }
    }
  }

  &__social {
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__subtitel {
    margin-bottom: 40px;

    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;

    @media screen and (min-width: 1024px) {
      margin-bottom: 56px;
      font-size: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 64px;
    }
  }

  &__subtitel--hotel {
    margin-bottom: 190px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 234px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 242px;
    }
  }

  &__slogan {
    margin-bottom: 113px;

    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: #ffffff;

    @media screen and (min-width: 1024px) {
      margin-bottom: 137px;
      font-size: 36px;
    }

    &--room {
      margin-bottom: 14px;
      text-align: left;

      @media screen and (min-width: 1024px) {
        margin-bottom: 24px;
      }

      & > span {
        text-transform: none;
      }
    }
  }

  &__details {
    margin-bottom: 20px;
    max-width: 300px;

    @media screen and (min-width: 1024px) {
      max-width: 440px;
    }

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: #ffffff;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  .hero__wrap {
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      margin-bottom: 25px;
    }

    display: flex;
    align-items: center;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__address {
    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 105px;
      right: 15px;
    }

    @media screen and (min-width: 351px) {
      top: 64px;
    }
  }

  &__button {
    margin: 0 auto 24px;

    & + .hero__button {
      margin-bottom: 58px;
    }

    @media screen and (min-width: 1024px) {
      margin-right: 0;
      margin-bottom: 0;

      & + .hero__button {
        margin-left: 40px;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1280px) {
        & + .hero__button {
          margin-left: 60px;
        }
      }
    }
  }
}
